*{
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
}
body {
    margin: 0;
    background-color: #883e24;
    color: #fff;
}
nav {
    display: flex;
    width: 100%;
    font-family: sans-serif;
    text-transform: uppercase;
    background: #491000;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
nav .logo img{
    width: 100px;
    margin-bottom: -10px;
}
nav a {
    text-decoration: none;
    margin: 0 40px;
    color: #fff;
}

.title{
    margin-top: 50px;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #491000;
    color: #883e24;
    display: inline-block;
}

.subtitle{
    font-size: 25px;
    text-transform: uppercase;
    color: #491000;
    text-align: center;
}

.home-section{
    width: 85%;
    margin: 0 auto;
}
.column{
    float: left;
}
.home-section .column {
    float: left;
    width: 50%;
    padding: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.home-desc{
    margin-top: 100px;
    text-align: center;
}
.home-desc h1, .home-desc p{
    text-align: left;
}

.btn{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 8px 15px;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 25px;
}

.img-icon{
    width: 50px;
    margin: 10px;
}
.img-icon:hover{
    width: 55px;
    transition: 300ms ease-out;
}
.home-section p {
    font-size: 20px;
    line-height: 26px;
}

.shop{
    background-image: url('Assets/coffee-background.jpg');
    background-size: cover;
}
.shop-section, .about{
    width: 70%;
    margin: 0 auto;
}

.shop-section .column{
    width: 33%;
    padding: 15px;
}
.product {
    text-align: center;
    color: #000;
    font-family: sans-serif;
}
.product h4, .product h3, .product p{
    padding: 3px;
    margin: 0px;
}
.product img{
    margin-bottom: 30px;
    margin-top: 30px;
}
.product img:hover{
    rotate: 30deg;
    transition: 300ms ease-in-out;
}
.prod-btn{
    text-decoration: none;
    color: #fff;
    background-color: #491000;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid #491000;
}
.prod-btn:hover{
    background-color: transparent;
    color: #491000;
    transition: 200ms ease-in-out;
}
.product img{
    height: 200px;
    border: 1px solid #491000;
    border-radius: 50%;
}
.copyright{
    padding: 10px;
    margin-top: 40px;
    font-size: 25px;
    font-weight: 700;
    background-color: #491000;
    text-align: center;
    font-family: sans-serif;
}
.copyright p{
    margin: 0;
    padding: 0;
}

.about .title{
    color: #fff;
    border-bottom: 2px solid #fff;
}

.about-img{
    width: 100%;
}

.about .column:first-of-type{
    width: 40%;
    float: left;
}
.about .column:last-of-type{
    width: 60%;
    float: right;
    font-size: 20px;
    line-height: 25px;
}
.about .row{
    margin-top: 40px;
}
.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}